# Formatting with the .format() method

In [1]:
print('This is a string {}'.format('INSERTED'))

This is a string INSERTED

In [5]:
print('The {q} {b} {f} ran over the lazy dog'.format(f='fox', b='brown', q='quick'))

The quick brown fox ran over the lazy dog

## Float formatting follows "{value:width.precision _f_}"

In [8]:
result = 100/777

In [13]:
result = 104.12345

In [14]:
print('The result was {r}'.format(r=result))

The result was 104.12345

In [15]:
print('The result was {r:1.5f}'.format(r=result))

The result was 104.12345

In [16]:
name = 'Dom'

In [18]:
print(f'Hello his name is {name}.')

Hello his name is Dom.

In [21]:
name = 'Scott'
age = 34

In [22]:
print(f'{name} is {age} years old.')

Scott is 34 years old.

# Lists in Python

In [23]:
my_list = [1,2,3,4,5,6]

In [24]:
my_other_list = ['string', 1,2,3,4,5,6]

In [25]:
len(my_list)

6

In [27]:
my_list[2:4]

[3, 4]

In [29]:
my_list = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]

In [30]:
my_list[3:14]

[4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [31]:
my_list[3:13]

[4, 5, 6, 7, 8, 9, 10, 11, 12, 13]

In [33]:
one_list = [1,2,3]

In [34]:
two_list = [4,5,6]

In [35]:
one_list + two_list

[1, 2, 3, 4, 5, 6]

In [36]:
new_list = ['one', 'two', 'three', 'four', 'five']

In [37]:
new_list[0] = 'ONE FOR ALL!'

In [38]:
new_list

['ONE FOR ALL!', 'two', 'three', 'four', 'five']

In [39]:
# effects in place = actual list
new_list.append('six')

In [40]:
new_list

['ONE FOR ALL!', 'two', 'three', 'four', 'five', 'six']

In [41]:
new_list.append('seven')

In [43]:
removed = new_list.pop()

In [44]:
removed

'six'

In [45]:
new_list.pop(0)

'ONE FOR ALL!'

In [47]:
new_list.insert(0, 'one')

In [48]:
new_list

['one', 'two', 'three', 'four', 'five']

In [49]:
new_list_letters = ['a', 'c', 'b']

In [50]:
new_list_letters.sort()

In [51]:
new_list_letters

['a', 'b', 'c']

In [53]:
new_num_list = [4,1,5,2,3]

In [54]:
new_num_list

[4, 1, 5, 2, 3]

In [55]:
new_num_list.sort()

In [56]:
new_num_list

[1, 2, 3, 4, 5]

In [57]:
new_num_list[::-1]

[5, 4, 3, 2, 1]

## Dictionaries

In [58]:
my_dict = {'key1': 'value1', 'key2': 'value2'}

In [59]:
my_dict

{'key1': 'value1', 'key2': 'value2'}

In [60]:
my_dict['key1']

'value1'

In [61]:
prices_lookup = my_dict

In [62]:
prices_lookup['key1']

'value1'

In [63]:
d = {'k1': 123, 'k2':[0,1,2], 'k3': {'insideKey': 100}}

In [64]:
d['k1']

123

In [66]:
d['k2']

[0, 1, 2]

In [67]:
d['k3']['insideKey']

100

In [70]:
d['k2'][:1]

[0]

In [71]:
d.keys()

dict_keys(['k1', 'k2', 'k3'])

In [72]:
d.values()

dict_values([123, [0, 1, 2], {'insideKey': 100}])

In [73]:
d.items()

dict_items([('k1', 123), ('k2', [0, 1, 2]), ('k3', {'insideKey': 100})])

 # Tuples

In [74]:
# IMMUTABILTY
turd = (1,2,3)

In [75]:
turd

(1, 2, 3)

In [76]:
turd[2]

3

In [77]:
type(turd)

tuple

In [78]:
type(d)

dict

In [79]:
type(new_list)

list

In [80]:
t = ('a', 'a', 'b', 'b')

In [84]:
t.index('a')

0

In [82]:
t.index('b')

2

In [85]:
j = ('a', 'a', 'a', 'a', 'b', 'b')

In [86]:
j.index('a')

0